{% extends "network/layout.html" %}

{% block script %}
<script>
document.addEventListener('DOMContentLoaded', function() {
logged_user = "{% if user.is_authenticated %}{{ user }}{% endif %}";
profile_user = "{% if user.is_authenticated %}{{ profile_user }}{% endif %}";
localStorage.setItem("logged_user",logged_user);
// load all posts in default
// Load the profile
fetch('/profile_page', {
  method: 'POST',
  body: JSON.stringify({
      body: profile_user,
  })
})
.then(response => response.json())
.then((details) => {
        console.log(details)
        logged_user = localStorage.getItem("logged_user")
        const list = details[0].followers;
        let unfollow_visible = false;
        list.forEach(element => {
            if(element == logged_user ) {
                unfollow_visible = true
            }
        });
        const element = document.createElement('div');
        element.innerHTML = `
                <div class="alert alert-info" role="alert" style="margin-top: 10px">
                  Profile: ${details[0].username}
                </div>
                <div><button id="follow_action" type="button" class="btn btn-primary" style="display: ${profile_user == logged_user ? 'none' : 'block'  }">${unfollow_visible ? "Unfollow" : "Follow"}</button></div><br>
                <div class="card-group">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Followers:</h5>
            <button type="button" class="btn btn-primary">${details[0].followers.length}</button>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Following:</h5>
            <button type="button" class="btn btn-primary">${details[0].following.length}</button>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">No: of posts</h5>
            <button type="button" class="btn btn-primary">${details[1].length}</button>
            </div>
        </div>
        </div>
        <br><br>`;
        element.querySelector('#follow_action').addEventListener('click', () => {
            fetch('/follow', {
            method: 'POST',
            body: JSON.stringify({
                body: details[0].username,
                action: unfollow_visible ? "unfollowUser" : "followUser"
            })
            })
            .then(response => response.json())
            .then(result => {
            console.log(result);
            location.reload();
        });
            })
        document.querySelector('#profile_view').append(element);
    }
);
});

function like_action(post_id) {
   fetch('/like', {
     method: 'POST',
     body: JSON.stringify({
       post_id: post_id,
       action: 'like'
     })
   })
   .then((res) => res.json())
   .then((result) => {
     console.log(result)
     location.reload();
   })
 }
 function unlike_action(post_id) {
   fetch('/like', {
     method: 'POST',
     body: JSON.stringify({
       post_id: post_id,
       action: 'unlike'
     })
   })
   .then((res) => res.json())
   .then((result) => {
     console.log(result);
     location.reload();
   })
 }
</script>
{% endblock %}

{% block body %}

<div class="container" style="font-family:'Times New Roman', Times, serif;"> 
  <div id="profile_view" class="col-5"></div>
  <div class="row">
  {% for post in posts %}
  <div class="card text-white bg-info col-3" style="margin: 10px;">
    <div class="card-header">
      <div class="alert alert-warning" role="alert">
        <div><a href="{% url 'profile' post.poster %}" class="alert-link">username : {{post.poster}}</a></div>
        <div><small>{{post.timestamp}}</small></div>
      </div>
    </div>
    <div class="card-body">
      <p class="card-text">{{post.body}}</p>
      <small>{{post.likers|length}} likes</small>
      {% if post.liked == "true" %}
      <a><button id="unlike" type="button" class="btn btn-light" onclick="unlike_action('{{post.id}}')">Unlike</button></a>
      {% else %}
      <a><button id="like" type="button" class="btn btn-warning" onclick="like_action('{{post.id}}')">Like</button></a>
      {% endif %}
      {% if user.username == post.poster %}
      <a href="{% url 'edit' post.id %}"><button id="edit" type="button" class="btn btn-dark">Edit Post</button></a>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% if posts.has_other_pages %}
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if posts.has_previous %}
      <li class="page-item"><a href="?page={{ posts.previous_page_number }}" class="page-link">Previous</a></li>
    {% else %}
    <li class="disabled page-item"><a class="page-link">Previous</a></li>
    {% endif %}
    {% for i in posts.paginator.page_range %}
      {% if posts.number == i %}
        <li class="active page-item"><a class="page-link">{{ i }}</a></li>
      {% else %}
        <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if posts.has_next %}
      <li class="page-item"><a href="?page={{ posts.next_page_number }}" class="page-link">Next</a></li>
    {% else %}
      <li class="disabled page-item"><a class="page-link">Next</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
</div>

{% endblock %}